.table {
  margin: 0rem 5rem;
  width: 70vw;
}
.main {
  display: flex;
  position: absolute;

  top: 10%;
  left: 0%;
  text-align: center;
  width: 100vw;
}
.main-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(60%);
}
.download-button {
  position: absolute;
  top: 35%;
  left: 0;
  background-color: #4285f4;

  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  margin: 5rem;
}

.download-button:hover {
  background-color: #0056b3;
}
