@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:ital@1&display=swap");
.logo-design {
  font-size: 2.5rem;
  font-family: "Black Ops One";
  user-select: none;
}
.logo-design:hover {
  cursor: pointer;
  font-size: 2.525rem;
  color: #4285f4;
}
.logo-design:active {
  color: #2962be;
}
.top-left {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
