ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  color: #000;
  display: block;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.4rem;
}
li a:hover {
  text-decoration: underline;
}

.bar {
  margin: 0 auto;
  width: 57.5rem;
  border-radius: 3rem;
  border: 1px solid #4285f4;
}
.bar:hover {
  box-shadow: 1px 1px 0.8rem 1px #dcdcdc;
}
.bar:focus-within {
  box-shadow: 1px 1px 0.8rem 1px #dcdcdc;
  outline: none;
}
.search-bar {
  height: 4.5rem;
  border: none;
  width: 50rem;
  font-size: 1.6rem;
  outline: none;
  user-select: none;
}
.search-icon {
  height: 2rem;
  position: relative;
  top: 0.5rem;
  left: 1rem;
  cursor: pointer;
}
.buttons {
  margin-top: 3rem;
}
.button-sb {
  user-select: none;
  color: #707070;
  border: none;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  outline: none;
}
.button-sb:hover {
  cursor: pointer;
  border: 1px solid #4285f4;
  padding: 0.9rem 1.9rem;
  background-color: #f5f5f5;
  color: #4285f4;
}
.filter-cb {
  display: inline-block;
  width: 10%;
}
