table {
  font-family: arial, sans-serif;
  font-size: 4rem;
  border-collapse: collapse;
  width: 72.5%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

td {
  font-size: 1.1rem;
  border-top: 1px solid rgb(172, 170, 170);
  text-align: center;
  padding: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50ch;

  text-overflow: ellipsis;
}
th {
  font-size: 1.4rem;
  position: sticky;
  text-align: center;
  height: 3vh;
  padding: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50ch;
  text-overflow: ellipsis;
}
.fixed-tr {
  background-color: rgb(201, 198, 194);
  border-radius: 1rem 1rem 0 0;
}
tr {
  width: 100%;
  display: flex;
}
tr:not(:first-child):hover {
  background-color: #d7dfe0bd;
}
tr:nth-child(even):hover {
  background-color: #d7dfe0bd;
}
tr:nth-child(even) {
  background-color: #ebe8e896;
}

.center-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 80vh;
  overflow-y: scroll;
  border-radius: 0px 0px 1rem 1rem;
}
.center-table::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1385px) {
  table {
    width: 100%;
  }
}
